
<!-- le footer est l'élément qui se situe en bas de page -->
<footer>
  <div class="content">
    <!-- les i sont des émoticons utilisé depuis le site font-awesome. Le mailto est utilisé pour créer un lien direct pour envoyer un mail et dont l'adresse mail du destinataire est déjà encodée-->
    <p><i class="far fa-copyright"></i> - 2021- <i class="fas fa-female"></i> Julie Fouss - <i class="fas fa-mobile-alt"></i> 0496/977.605 - <a href="mailto:foussjulie@gmail.com"> <i class="fas fa-envelope"></i></a></p>

  </div>
</footer>
