
<main>
  <section>
    <div class="content">
      <!-- les classes col permettent de créer des espaces distincts sur la page, il faut s'imaginer la page répartie sur 12 colonnes -->
      <div class="col col-6-12">
        <!-- Lorsque l'on ajoute une photo, nous devons y mettre le chemin de celle ci et s'assurer que la photo soit bien dans le dossier lié et lui donner un nom avec la balise alt. Cette balise permet d'afficher le nom ou la description d'une image lorsque celle ci ne se charge pas par exemple -->
        <img src="assets/white-4522591_1920.jpg" alt="gypsophile">
      </div>

      <!-- il est important de signaler par le mot last pour montrer que c'est la dernière colonne et permettre à chaque colonne de flotter les une à coté des autres.-->
      <div class="col col-6-12 last">
        <h3> Bienvenue</h3>
        <!--J'utilise une classe pour cette image car je ne veux que modifier celle-ci et non pas les images de manière générale-->
        <div class="presentation">
          <img src="assets/julie.jpg" alt=moi>
        </div>
        <p> Je suis Julie Fouss, 32 ans et maman d'une petite fille de 3 ans.
          Ce que j'aime ?
          Passer du temps en famille et entre amis, voyager,
          lire et découvrir de nouvelles choses. Bienvenue sur mon portfolio dont l'objectif est de détailler mes expériences et mes compétences.
        Mes coordonnées sont accessibles et je reste à votre disposition pour tout complément d'information.
        </p>

      </div>

    </div>
    <!-- la classe clear s'emploi lorsque les éléments utilisent un float, cette classe permet de stopper ce flottement-->
    <div class="clear"></div>
  </section>
</main>

