<!DOCTYPE html>
<html lang="fr">
<body>
<main>

  <section>
    <div class="content">
      <div class="col col-1-12">
        <div class="vertical">
          <h3>Parcours</h3>
        </div>
      </div>
      <div class="col col-3-12">
        <h4>Avant...</h4>
        <!-- Les balises p permettent de créer du texte -->
        <p>J'ai obtenu mon CESS en 2006. <br>J'ai d'abord étudié la diététique à la Haute Ecole de la Province de Liège jusqu'en dernière année. Conclusion:<br> - session d'examens  <i class="far fa-thumbs-up"></i><br> - TFE <i class="far fa-thumbs-down"></i><br>
          Par la suite, je me suis investie dans le domaine du prêt-à -porter.

        </p>
      </div>
      <div class="col col-5-12">
        <!-- Classe citation pour donner des propriétés à l'image sans contraindre les autres images de mon portfolio-->
        <div class="quote">
          <!-- Les balises <q> créer de courte citation -->
          <q>Le meilleur moment pour planter un arbre c'était il y a 20 ans. Le deuxième meilleur moment c'est maintenant.</q>
          <img src="assets/oscar-helgstrand-5PDs16ea8dI-unsplash.jpg" alt="arbre qui pousse">
        </div>

      </div>

      <div class='col col-3-12 last'>
        <h4> Maintenant...</h4>
        <p> A 31 ans, riche de mon parcours, orientée vers l'avenir et déterminée, j'ai décidé d'évoluer dans le monde du Web. C'est depuis la rentrée académique 2020-2021 que j'étudie en vue d'obtenir le brevet d'enseignement supérieur de Webdeveloper.</p>
      </div>


      <div class="clear"></div>
    </div>
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</main>
</body>

</html>

