
<!DOCTYPE html>
<html lang="fr">

<body>
<main>

    <section>
<!-- le ng for va servir à pourvoir afficher correctement les publications et dire que la 4 eme realisations prend  le last-->
      <div class="content">
        <ng-container *ngFor= "let rea of realisation ; let i=index">
     <div [ngClass]="{'col col-3-12':true , 'float':true, 'last': (i+4)%4 == 0}">
        <div class="beautiful">
<!-- les valeurs entre {{}} sont les valeurs que l api va donner -->
         <img src="{{server}}{{rea.image}}" alt={{rea.nomImage}}>
          <h5>{{rea.titre}}</h5>
          <a href="{{rea.lien}}">lien</a>
          <br>
         <p> {{rea.date}}</p>
        </div>

      </div>
<!-- Pour mettre un clear après 4 réalisations -->
        <div [ngClass]="{'clear':(i+4)%4 == 0}" ></div>
        </ng-container>
    </div>

  </section>

  <app-footer></app-footer>
  <router-outlet></router-outlet>
</main>
</body>

</html>
