h5 {

  text-align: center;
  font-family:'Gotu', sans-serif;
  font-size: 15px;
  color:#679181 ;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 10px;


}

p{
  color: #679181;
  text-align: center;
  font-family:'Gotu', sans-serif;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bolder;
}


